#supra{
    border-color: blue;
    width: 450px;
    border-color: red; 
    border-style: dashed;
    }

#supra:hover{
    border-color: #64e764;
    border-radius: 15px;
    width:720px;
    }

#m2{
    border-color: orange;
    width: 450px;
    }

#m2:hover{
    border-color: #64e764;
    border-radius: 15px;
    width:720px;
    }
        
.headings{
    font-style: italic;
    }

.h2{
    font-style: italic;
    color: royalblue;
}

a:visited{
    color: orange;
}

h1{
    color: rgb(35, 6, 6);
}

#submit:hover{
    background-color: rgb(218, 177, 177);
}